<%= link_to 'Editar', edit_dog_path(@dog.id) %>
<%= link_to 'Voltar', dogs_path %>
<% if @dog.kind_of? Array %>
  <% @dog.breed.each do |dog| %>
    <p><%= I18n.t(dog, scope: %i[activerecord attributes dog/breed]) %></p>
  <% end %>
<% else %>
  <p><%= I18n.t(@dog.breed, scope: %i[activerecord attributes dog/breed]) %></p>
<% end %>
<% if !@dog.name.blank? %>
  <p><%= I18n.t(@dog.name, scope: %i[activerecord attributes dog/name]) %></p>
<% end %>
